[submodule "data"]
	path = data
	url = https://github.com/psychoinformatics-de/studyforrest-data-structural.git
[submodule "derivatives"]
	path = derivatives
	url = ./derivatives
	datalad-id = a25555f3-90c1-4e54-b9f0-81a7f3d8a8ce
